@model sistemaMatricula.Models.turma

@{
    ViewBag.Title = "Details";
}

<style>
    .dados {
        font-size: 20px;
    }

    .dl-horizontal {
        background-color: rgb(255, 255, 255,0.3);
        padding-left: 20px;
    }
</style>

<br />
<h2 style="text-align:center">Dados da Turma</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Turma:
            <b class="dados">
                @Html.DisplayFor(model => model.nome)
            </b>
        </dt>
        <br />

        <dt>
            Descrição:
            <b class="dados">
                @Html.DisplayFor(model => model.sala)
            </b>
        </dt>
        <br />

        <dt>
            Disciplina:
            <b class="dados">
                @Html.DisplayFor(model => model.disciplina.nome)
            </b>
        </dt>
        <br />

        <dt>
            Responsável:
            <b class="dados">
                @Html.DisplayFor(model => model.funcionario.nome)
            </b>
        </dt>
        <br />

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-light" })
</p>
